/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 1, ../sass/_global.scss */
body { background: #fff; color: #6e7372; font-size: 14px; font-family: 'Raleway', sans-serif; line-height: 1.3; }

/* line 9, ../sass/_global.scss */
strong { font-weight: 700; }

/* line 13, ../sass/_global.scss */
.wrapper { max-width: 840px; min-width: 260px; margin: 0 auto; padding: 0 30px; }

/* line 20, ../sass/_global.scss */
.access { position: absolute; left: -9999em; }

/* line 25, ../sass/_global.scss */
a { color: #26d2ac; }
/* line 27, ../sass/_global.scss */
.admin a { color: #804cab; }

/* line 32, ../sass/_global.scss */
p { margin-bottom: 10px; max-width: 540px; line-height: 1.5; }

/* line 38, ../sass/_global.scss */
.load { height: 35px; background: url(img/load.gif) center no-repeat; }
/* line 42, ../sass/_global.scss */
.results .load { margin: 20px; }

/* line 2, ../sass/_headings.scss */
h1, h2, h3, h4, h5, h6 { margin: 0 0 10px; }
/* line 5, ../sass/_headings.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; color: #6e7372; }
/* line 10, ../sass/_headings.scss */
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus { text-decoration: underline; }

/* line 16, ../sass/_headings.scss */
h1, .h1 { font-size: 48px; }
/* line 18, ../sass/_headings.scss */
h1 strong, .h1 strong { color: #26d2ac; }
/* line 20, ../sass/_headings.scss */
.admin h1 strong, .admin .h1 strong { color: #804cab; }

/* line 26, ../sass/_headings.scss */
h2, .h2 { font-size: 36px; }

/* line 30, ../sass/_headings.scss */
h3, .h3 { font-size: 28px; }

/* line 34, ../sass/_headings.scss */
h4, .h4 { font-size: 24px; }

/* line 38, ../sass/_headings.scss */
h5, .h5 { font-size: 20px; }

/* line 42, ../sass/_headings.scss */
h6, .h6 { font-size: 28px; }

/* line 3, ../sass/_forms.scss */
input, button { line-height: 1; }

/* line 12, ../sass/_forms.scss */
input, button, textarea, .btn { color: #111; margin: 0; padding: 9px 9px 7px; font-size: 16px; border: 1px solid #cccccc; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; font-family: sans-serif; -webkit-box-shadow: inset 2px 2px 0 #eeeeee; -moz-box-shadow: inset 2px 2px 0 #eeeeee; box-shadow: inset 2px 2px 0 #eeeeee; }

/* line 25, ../sass/_forms.scss */
input[type="checkbox"], input[type="radio"] { margin: 0; padding: 0; border: 0; }

/* line 33, ../sass/_forms.scss */
label { font-size: 16px; margin-right: 10px; }

/* line 39, ../sass/_forms.scss */
.btn { border: 0; line-height: 1; margin: 0; padding: 10px 15px; background-color: #26d2ac; color: #fff; font-size: 16px; font-weight: 700; overflow: visible; /* IE7 width fix */ -webkit-appearance: none; text-decoration: none; text-align: center; float: left; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 57, ../sass/_forms.scss */
.btn:hover, .btn:focus { background-color: #37dbb7; }
/* line 60, ../sass/_forms.scss */
.btn:hover { cursor: pointer; }
/* line 63, ../sass/_forms.scss */
.btn:focus { text-decoration: underline; }
/* line 66, ../sass/_forms.scss */
.admin .btn { background-color: #804cab; }
/* line 70, ../sass/_forms.scss */
.admin .btn:hover, .admin .btn:focus { background-color: #8d5bb6; }

/* line 79, ../sass/_forms.scss */
button.btn-alt, input.btn-alt, .btn-alt { background-color: #333; }
/* line 83, ../sass/_forms.scss */
button.btn-alt:hover, button.btn-alt:focus, input.btn-alt:hover, input.btn-alt:focus, .btn-alt:hover, .btn-alt:focus { background-color: #555555; }

/* line 89, ../sass/_forms.scss */
input.btn-sml, .btn-sml { padding: 7px 8px; font-size: 14px; font-weight: 400; }

/* line 98, ../sass/_forms.scss */
::-webkit-input-placeholder { color: #888888; }

/* WebKit browsers */
/* line 99, ../sass/_forms.scss */
:-moz-placeholder { color: #888888; }

/* Mozilla Firefox 4 to 18 */
/* line 100, ../sass/_forms.scss */
::-moz-placeholder { color: #888888; }

/* Mozilla Firefox 19+ */
/* line 101, ../sass/_forms.scss */
:-ms-input-placeholder { color: #888888; }

/* Internet Explorer 10+ */
/* line 16, ../sass/_variables.scss */
.row:before, .row:after, .grid:before, .grid:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.row:after, .grid:after { clear: both; }

/* line 7, ../sass/_grid.scss */
.col { float: left; width: 100%; }

@media only screen and (min-width: 600px) { /* line 14, ../sass/_grid.scss */
  .pad { padding: 0 0 0 20px; }
  /* line 17, ../sass/_grid.scss */
  .col:first-child .pad { padding-left: 0; }
  /* line 22, ../sass/_grid.scss */
  .w-5 { width: 5%; }
  /* line 23, ../sass/_grid.scss */
  .w-10 { width: 10%; }
  /* line 24, ../sass/_grid.scss */
  .w-15 { width: 15%; }
  /* line 25, ../sass/_grid.scss */
  .w-20 { width: 20%; }
  /* line 26, ../sass/_grid.scss */
  .w-25 { width: 25%; }
  /* line 27, ../sass/_grid.scss */
  .w-30 { width: 30%; }
  /* line 28, ../sass/_grid.scss */
  .w-35 { width: 35%; }
  /* line 29, ../sass/_grid.scss */
  .w-40 { width: 40%; }
  /* line 30, ../sass/_grid.scss */
  .w-45 { width: 45%; }
  /* line 31, ../sass/_grid.scss */
  .w-50 { width: 50%; }
  /* line 32, ../sass/_grid.scss */
  .w-60 { width: 60%; }
  /* line 33, ../sass/_grid.scss */
  .w-65 { width: 65%; }
  /* line 34, ../sass/_grid.scss */
  .w-70 { width: 70%; }
  /* line 35, ../sass/_grid.scss */
  .w-75 { width: 75%; }
  /* line 36, ../sass/_grid.scss */
  .w-80 { width: 80%; }
  /* line 37, ../sass/_grid.scss */
  .w-85 { width: 85%; }
  /* line 38, ../sass/_grid.scss */
  .w-90 { width: 90%; }
  /* line 39, ../sass/_grid.scss */
  .w-95 { width: 95%; }
  /* line 40, ../sass/_grid.scss */
  .w-100 { width: 100%; }
  /* line 42, ../sass/_grid.scss */
  .w-16 { width: 16.6666666%; }
  /* line 43, ../sass/_grid.scss */
  .w-33 { width: 33.3333333%; }
  /* line 44, ../sass/_grid.scss */
  .w-66 { width: 66.6666666%; } }
/* line 1, ../sass/_header.scss */
header { border-bottom: 1px solid #cccccc; padding: 20px 0; }
/* line 16, ../sass/_variables.scss */
header:before, header:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
header:after { clear: both; }
/* line 6, ../sass/_header.scss */
header h1 { margin: 0; line-height: 1; float: left; }
/* line 12, ../sass/_header.scss */
header form { margin: 8px 0 -10px; float: right; }
/* line 16, ../sass/_header.scss */
header form input { float: left; margin-right: 15px; }

/* line 1, ../sass/_footer.scss */
footer { padding: 10px 20px; border-top: 1px solid #cccccc; }

/* line 1, ../sass/_hero.scss */
.hero { font-size: 48px; text-align: center; padding: 80px 0; }
/* line 16, ../sass/_variables.scss */
.hero:before, .hero:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.hero:after { clear: both; }
/* line 7, ../sass/_hero.scss */
.hero select { display: inline-block; float: none; border: 0; border-bottom: 4px solid #6e7372; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; padding: 0; line-height: inherit; margin: 0; font-size: inherit; -webkit-appearance: none; font-weight: 700; color: #6e7372; outline: none; }
/* line 23, ../sass/_hero.scss */
.hero select:hover, .hero select:focus { color: #26d2ac; border-bottom-color: #26d2ac; cursor: pointer; }

/* line 1, ../sass/_results.scss */
.results { border-top: 10px solid #f6f6f6; }
/* line 16, ../sass/_variables.scss */
.results:before, .results:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.results:after { clear: both; }

/* line 6, ../sass/_results.scss */
.filter { background: #f6f6f6; margin-top: -10px; padding: 10px 20px; }

/* line 12, ../sass/_results.scss */
.result { border-top: 1px dotted #cccccc; padding: 20px; }
/* line 16, ../sass/_results.scss */
.result:first-child { border-top: 0; }
/* line 20, ../sass/_results.scss */
.result .head { position: relative; padding-right: 100px; }
/* line 24, ../sass/_results.scss */
.result .head a { display: block; }
/* line 28, ../sass/_results.scss */
.result .head .btn { position: absolute; right: 0; top: 3px; }

/* line 36, ../sass/_results.scss */
.pagination { padding: 20px; text-align: center; }
/* line 16, ../sass/_variables.scss */
.pagination:before, .pagination:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.pagination:after { clear: both; }
/* line 40, ../sass/_results.scss */
.pagination .btn { float: none; display: inline-block; }

/* line 1, ../sass/_details.scss */
.details { padding: 20px; position: relative; }
/* line 16, ../sass/_variables.scss */
.details:before, .details:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.details:after { clear: both; }
/* line 6, ../sass/_details.scss */
.details .location { text-align: left; }
/* line 10, ../sass/_details.scss */
.details .description { font-size: 16px; }
/* line 14, ../sass/_details.scss */
.details h2 { padding-right: 120px; }
/* line 18, ../sass/_details.scss */
.details .donate-button { position: absolute; top: 13px; right: 0; padding: 20px; }
/* line 24, ../sass/_details.scss */
.details .donate-button input { padding: 0; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 31, ../sass/_details.scss */
.details .needs { margin-bottom: 20px; }

/* line 36, ../sass/_details.scss */
.subscribe-number { background: #f6f6f6; padding: 20px; }
/* line 40, ../sass/_details.scss */
.subscribe-number .big { font-size: 18px; line-height: 2; }
/* line 44, ../sass/_details.scss */
.subscribe-number .big em { float: left; clear: left; width: 55px; }
/* line 51, ../sass/_details.scss */
.subscribe-number strong { color: #fff; background: #333; font-weight: 400; padding: 3px 5px; text-transform: uppercase; }

/* line 1, ../sass/_needs.scss */
.needs { margin-top: -3px; }
/* line 16, ../sass/_variables.scss */
.needs:before, .needs:after { content: " "; display: table; }
/* line 21, ../sass/_variables.scss */
.needs:after { clear: both; }
/* line 5, ../sass/_needs.scss */
.needs li { float: left; margin: 0 15px 10px 0; font-weight: 700; }

/* line 1, ../sass/_locations.scss */
.location { text-align: right; color: #aaa; }

/* line 6, ../sass/_locations.scss */
.website { word-wrap: break-word; }
/* line 9, ../sass/_locations.scss */
.results .website { display: none; }

/* line 2, ../sass/_donations.scss */
.urgency-seeking, .urgency-emergency { color: #fff; padding: 5px 10px; background-color: #5d86ee; }
/* line 7, ../sass/_donations.scss */
.needs .urgency-seeking, .needs .urgency-emergency { margin-top: -5px; }

/* line 12, ../sass/_donations.scss */
.urgency-emergency { background-color: #d81c1c; }
