lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.sass-cache

npm-debug.log
node_modules

config/config.json

.DS_Store

client/assets/js/gogive.js
client/assets/js/goGive.min.js
client/assets/js/src/templates.js