<div class="details">

    <div ng-switch on="isExists(result.name)">
        <div ng-switch-when="true">
            <h2>{{result.name}}</h2>
        </div>
        <div ng-switch-default>
            <div class="load"></div>
        </div>
    </div>

    <div class="grid">
        <div class="col w-66">
            <div class="pad">

                <h3 class="access">Needs</h3>

                <div ng-include src="'/components/needs.html'"></div>
                <div class="description">
                    {{result.description}}
                </div>

            </div>
        </div>
        <div class="col w-33">
            <div class="pad">

                <div class="location">
                    <h3 class="access">Location</h4>
                    <div ng-include src="'/components/location.html'"></div>
                </div>

            </div>
        </div>
    </div>
</div>