<div class="details">
    <h2>Battersea Dogs &amp; Cats Home</h2>

    <div class="grid">
        <div class="col w-66">
            <div class="pad">

                <h3 class="access">Needs</h3>
                <ul class="needs">
                    <li class="donations-urgent">
                        Food urgently needed! 
                    </li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Adoption</a></li>
                    <li><a href="#">Money</a></li>
                </ul>

                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

            </div>
        </div>
        <div class="col w-33">
            <div class="pad">

                <div class="location">
                    <h3 class="access">Location</h4>
                    <p>4 Battersea Park Rd<br>London SW8 4AA</p>
                    <div class="website">
                        <a href="#">http://www.website.com/</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>