body {
	background: #fff;
	color: $color-body;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.3;
}

strong {
	font-weight: 700;
}

.wrapper {
	max-width: 840px;
	min-width: 260px;
	margin: 0 auto;
	padding: 0 30px;
}

.access {
	position: absolute;
	left: -9999em;
}

a {
	color: $color-main;
	.admin & {
		color: $color-admin-main;
	}
}

p {
	margin-bottom: ($pad-lrg / 2);
	max-width: 540px;
	line-height: 1.5;
}