header {
	@include cf;
	border-bottom: 1px solid $color-light;
	padding: $pad-lrg 0;
	margin: 0 0 $pad-lrg;

	h1 {
		margin: 0;
		line-height: 1;
		float: left;
	}

	form {
		margin: 8px 0 -10px;
		float: right;

		input {
			float: left;
			margin-right: 15px;
		}
	}
}