h1, h2, h3,
h4, h5, h6 {
	margin: 0 0 ($pad-lrg / 2);

	a {
		text-decoration: none;
		color: #6e7372;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

h1, .h1 {
	font-size: 48px;
	strong {
		color: $color-main;
		.admin & {
			color: $color-admin-main;
		}
	}
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 28px;
}

h4, .h4 {
	font-size: 24px;
}

h5, .h5 {
	font-size: 20px;
}

h6, .h6 {
	font-size: 28px;
}

