.results {
	@include cf;
	border-top: 10px solid #f6f6f6;
}

.filter {
	background: #f6f6f6;
	margin-top: -10px; // Offset top border;
	padding: ($pad-lrg - ($pad-lrg/2)) $pad-lrg;
}

.result {
	border-top: 1px dotted $color-light;
	padding: $pad-lrg;

	&:first-child {
		border-top: 0;
	}

	.head {
		position: relative;
		padding-right: 100px;

		a {
			display: block;
		}

		.btn {
			position: absolute;
			right: 0;
			top: 3px;
		}
	}
}

.pagination {
	@include cf;
	padding: 20px;
	text-align: center;
	.btn {
		float: none;
		display: inline-block;
	}
}